extends layout
block content
    .row.banner
        .col-12
            h1= title
    .row
        .col-12.col-lg-8
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum minima recusandae illum mollitia earum incidunt rem! Voluptatum autem a temporibus vel corrupti dignissimos doloribus ea! Accusamus ea amet officiis voluptatibus perspiciatis? Velit, veniam tempore? Sequi, molestias quis dignissimos consectetur laborum amet dolorum distinctio et eligendi eos reiciendis atque excepturi adipisci nesciunt a sunt vel omnis eveniet quia inventore dolorem sapiente quas quisquam provident! Et exercitationem cumque enim aspernatur inventore, fugiat culpa iusto animi! Reprehenderit, suscipit, id nulla ut repellat illum ullam tempore odio voluptas pariatur ipsum enim. Illo corrupti quaerat officia iusto repudiandae pariatur? Iste laborum eum necessitatibus cum vero?