extends layout
block content
    .row.banner
        .col-12
            h1 Loc8r
            small &nbsp;Find places to work with wifi near you!
    br
    .row.row-cols-1.row-cols-md-2.g-4.text-dark
        .col
            .card
                a(href="/location") 
                    img.card-img-top(src="https://source.unsplash.com/ItaV89TNkks", alt="...")
                .card-body
                    h5.card-title.col-6 Shri Ram Cafe
                    p.row.card-text.justify-content-around.text-left
                        span.col-7 Any Where Universe
                        span.col-4 0000
                        span.col-4 Rating
                        span.col-7
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                        span.col-4.material-icons.md-dark.text-center wifi
                        span.col-4.material-icons.md-dark.text-center restaurant
                        span.col-4.material-icons.md-dark.text-center local_bar
                    a.btn.btn-primary Go
        .col
            .card
                a(href="/location") 
                    img.card-img-top(src="https://source.unsplash.com/WgkA3CSFrjc", alt="...")
                .card-body
                    h5.card-title.col-6 Ultimate Express
                    p.row.card-text.justify-content-around.text-left
                        span.col-7 Any Where Universe
                        span.col-4 0000
                        span.col-4 Rating
                        span.col-7
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                        span.col-4.material-icons.md-dark.text-center wifi
                        span.col-4.material-icons.md-dark.text-center restaurant
                        span.col-4.material-icons.md-dark.text-center local_bar
                    a.btn.btn-primary Go
        .col
            .card
                a(href="/location") 
                    img.card-img-top(src="https://source.unsplash.com/Yn0l7uwBrpw", alt="...")
                .card-body
                    h5.card-title.col-6 Shambhavi
                    p.row.card-text.justify-content-around.text-left
                        span.col-7 Any Where Universe
                        span.col-4 0000
                        span.col-4 Rating
                        span.col-7
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                        span.col-4.material-icons.md-dark.text-center wifi
                        span.col-4.material-icons.md-dark.text-center restaurant
                        span.col-4.material-icons.md-dark.text-center local_bar
                    a.btn.btn-primary Go            
        .col
            .card
                a(href="/location") 
                    img.card-img-top(src="https://source.unsplash.com/nJRo_NfYphM", alt="...")
                .card-body
                    h5.card-title.col-6 Kalki Restorent
                    p.row.card-text.justify-content-around.text-left
                        span.col-7 Any Where Universe
                        span.col-4 0000
                        span.col-4 Rating
                        span.col-7
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                        span.col-4.material-icons.md-dark.text-center wifi
                        span.col-4.material-icons.md-dark.text-center restaurant
                        span.col-4.material-icons.md-dark.text-center local_bar
                    a.btn.btn-primary Go
        .col
            .card
                a(href="/location") 
                    img.card-img-top(src="https://source.unsplash.com/MA82mPIZeGI", alt="...")
                .card-body
                    h5.card-title.col-6 On The Spot Hotal
                    p.row.card-text.justify-content-around.text-left
                        span.col-7 Any Where Universe
                        span.col-4 0000
                        span.col-4 Rating
                        span.col-7
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                            span.material-icons.md-dark star_rate
                        span.col-4.material-icons.md-dark.text-center wifi
                        span.col-4.material-icons.md-dark.text-center restaurant
                        span.col-4.material-icons.md-dark.text-center local_bar
                    a.btn.btn-primary Go
